/bin
/nbproject/private/
/dist/
/WSGen_Bpel_REST/build/
/WSC-Gen_BPEL/nbproject/private/
/WSGen_composite_SOAP/src/jbiServiceUnits/
/WSGen_Bpel/build/
/WSC-Gen_composite_SOAP/nbproject/private/
/WSC-Gen_composite_SOAP/src/jbiServiceUnits/
/WSC-Gen_composite_SOAP/build/
/WSC-Gen_composite_SOAP/dist/
/WSC-Gen_composite_SOAP/test/results/
/WSC-Gen_BPEL/build/
/Generator_SOAP_composite/nbproject/private/
/WSC-Gen_SOAP_composite/nbproject/private/
/WSC-Gen_SOAP_composite/src/jbiServiceUnits/
/WSC-Gen_SOAP_composite/build/
/WSC-Gen_SOAP_composite/dist/
/WSC-Gen_SOAP_composite/test/results/